{% extends 'inc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<!-- Begin page content -->
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card-body p-5">
            <form action="/ask/" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class="form-label col-sm-3" field_class="form-field col-sm-12" %}
                <div class="ask-button d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light me-2">Ask!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
