{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Log in account</h2>
            <form>
                <div class="form-outline mb-4">
                    <h2 class="text-error">Error login</h2>
                    <input type="text" id="formLoginRegister"
                           class="form-control form-control-lg"/>
                    <label class="form-label" for="formLoginRegister">Login</label>
                </div>


                <div class="form-outline mb-4">
                    <h2 class="text-error">Error password</h2>
                    <input type="password" id="form3Example4cg"
                           class="form-control form-control-lg"/>
                    <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="ask-button d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-light me-2">Log in</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">
                    You do not have an account? <a href="../templates/register.html" class="fw-bold text-body"><u>Register
                    here</u></a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
