{% extends 'inc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<!-- Begin page content -->
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
            {% if user.is_authenticated %}
            <div class="alert alert-secondary">You are already logged in</div>
            {% else %}
            <form action="/register/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class="form-label col-sm-3" field_class="form-field col-sm-7" %}

                <div class="ask-button d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light me-2">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                        href="{% url 'login' %}"
                        class="fw-bold text-body"><u>Login here</u></a></p>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
