{% extends 'inc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<!-- Begin page content -->

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card-body p-5">
            <form action="/settings/" method="post">
                {% bootstrap_form form  layout="horizontal" label_class="form-label col-sm-3" field_class="form-field col-sm-7" %}
                <div class="ask-button d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-light me-2">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
