{% load static %}

<div class="answer">
    <div class="row">
        <div class="col-lg-2">
            <div class="avatar">
                <img src="{{ answer.author.get_avatar }}" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <h2 class="answer-title">{{ answer.title }}</h2>
            <div class="answer-text">
                {{ answer.text }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            {% include 'inc/like-button.html' with likes=answer.likes data=answer type="answer" %}
        </div>
        <div class="col-lg-3">

            <div class="form-check">
                {% if user.is_authenticated and user.profile == question.author %}
                <input type="checkbox" class="form-check-input" data-id="{{ answer.id }}" name="correctAnswer"
                       value="something" {% if answer.is_correct %} checked {% endif %}>
                {% if not answer.is_correct %}
                <label class="form-check-label">Mark correct answer!</label>
                {% endif %}
                {% endif %}
                {% if answer.is_correct %}
                <label class="form-check-label">Correct!</label>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-7">

        </div>
    </div>
</div>